<launch>

    <arg name="node_name"/>
    <arg name="required"/>
    <arg name="configuration_name"/>
    <arg name="output"/>

    <node name="$(arg node_name)" pkg="kimera_centralized_pgmo"
          type="loop_closure_base_node"
          output="$(arg output)">

        <rosparam file="$(find spark_master_launch)/config/$(arg configuration_name)/loop_closure_base_node/loop_closure_base_node.yaml" subst_value="true"/>
    </node>

</launch>
