<launch>

    <arg name="robot_name"/>
    <arg name="configuration_name"/>
    <arg name="output"/>

    <node pkg="nodelet"
          type="nodelet"
          name="nodelet_manager"
          args="manager"
          output="$(arg output)">
          <rosparam file="$(find spark_master_launch)/config/$(arg configuration_name)/nodelet_manager/$(arg robot_name)/nodelet_manager.yaml"/>
    </node>

</launch>
