<launch>

  <arg name="robot_name"/>
  <arg name="node_name"/>
  <arg name="required"/>
  <arg name="configuration_name"/>
  <arg name="output"/>

  <node pkg="nodelet"
        type="nodelet"
        required="$(arg required)"
        name="$(arg node_name)"
        args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager -no-bond"
        output="$(arg output)">
    <rosparam file="$(find spark_master_launch)/config/$(arg configuration_name)/rgbd_to_pointcloud/$(arg robot_name)/rgbd_to_pointcloud.yaml"/>
  </node>

</launch>
