<launch>

    <arg name="robot_name" default="sparkal1"/>

    <arg name="launch_hydra_ros" default="false"/>
    <arg name="launch_static_tfs" default="false">
    <arg name="launch_robot_gt_pose" default="false">
    <arg name="launch_rgbd_to_pointcloud" default="false">
    <arg name="launch_semantic_recolor" default="false">
    <arg name="launch_visualizer" default="false">
    <arg name="launch_posegraph_view" default="false">
    <arg name="launch_scene_graph_logger" default="false">
    <arg name="launch_nodelet_manager" default="false">
    <arg name="launch_depth_rectifier_nodelet" default="false">
    <arg name="launch_recolor_nodelet" default="false">
    <arg name="launch_rviz" default="false">

    <arg name="sim_time_required" default="true"/>
    <param name="use_sim_time" value="$(arg sim_time_required)"/>

    <!-- hydra_ros -->
    <group if="$(arg launch_hydra_ros)">
        <!-- kimera topic remappings -->
        <remap from="~pose_graph" to="kimera_vio_ros/pose_graph_incremental"/>
        <remap from="~agent_node_measurements" to="kimera_distributed/optimized_nodes"/>
        <remap from="~bow_vectors" to="kimera_vio_ros/bow_query"/>
        <remap from="frame_registration" to="kimera_vio_ros/kimera_vio_ros_node/register_lcd_frames"/>
        <!-- sensor topic remappings -->
        <remap from="~pointcloud" to="semantic_pointcloud"/>
        <remap from="~rgb/image_raw" to="$(arg robot_name)/forward/color/image_rect_color"/>
        <remap from="~rgb/image_raw/compressed" to="$(arg robot_name)/forward/color/image_rect_color/compressed"/>
        <remap from="~rgb/camera_info" to="/$(arg robot_name)/forward/color/camera_info"/>
        <remap from="~depth_registered/image_rect" to="$(arg robot_name)/forward/depth/image_rect_raw"/>
        <remap from="~semantic/image_raw" to="semantic/image_raw"/>

        <include file="$(find spark_master_launch)/launch/nodes/hydra_ros_node.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="node_name" value="hydra_ros_node"/>
            <arg name="required" value="true"/>
            <arg name="configuration_name" value="dcist"/>
        </include>
    </group>

    <!-- launch_static_tfs -->
    <group if="$(arg launch_static_tfs)">
        <include file="$(find spark_master_launch)/launch/nodes/static_tfs/$(arg robot_name)_static_tfs.xml"/> 
    </group>

    <!-- robot_gt_pose -->
    <group if="$(arg launch_robot_gt_pose)">
        <include file="$(find spark_master_launch)/launch/nodes/csv_to_tf.launch"> 
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="node_name" value="csv_to_tf_node"/>
            <arg name="required" value="true"/>
            <arg name="configuration_name" value="dcist"/>
        </include>
    </group>

    <!-- nodelet manager -->
    <group if="$(arg launch_nodelet_manager)">
        <include file="$(find spark_master_launch)/launch/nodes/nodelet_manager.launch">
            <arg name="configuration_name" value="dcist"/>
        </include>
    </group>

    <!-- rgbd_to_poincloud -->
    <group if="$(arg launch_rgbd_to_pointcloud)">
        <remap from="~rgb/camera_info" to="$(arg robot_name)/forward/color/camera_info"/>
        <remap from="~rgb/image_rect_color" to="$(arg robot_name)/forward/color/image_rect_color"/>
        <remap from="~depth_registered/image_rect" to="$(arg robot_name)/forward/depth/image_rect_raw"/>
        <remap from="~depth_registered/points" to="semantic_pointcloud"/>
        <include file="$(find spark_master_launch)/launch/nodes/rgbd_to_pointcloud.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="node_name" value="cloudify"/>
            <arg name="required" value="true"/>
            <arg name="configuration_name" value="dcist"/>
        </include>
    </group>

    <!-- semantic_recolor -->
    <group if="$(arg launch_semantic_recolor)">
        <remap from="~rgb/image_raw" to="$(arg robot_name)/forward/color/image_raw"/>
        <remap from="~rgb/image_raw/compressed" to="$(arg robot_name)/forward/color/image_raw/compressed"/>
        <remap from="~semantic/image_raw" to="$(arg robot_name)/semantic/image_raw"/>
        <include file="$(find spark_master_launch)/launch/nodes/semantic_recolor.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="node_name" value="semantic_recolor_node"/>
            <arg name="required" value="true"/>
            <arg name="configuration_name" value="dcist"/>
        </include>
    </group>

    <!-- recolor nodelet -->
    <group if="$(arg launch_recolor_nodelet)">
        <!-- NOTE: these remappings are not right -->
        <remap from="labels/image_raw" to="$(arg prerecorded_topic)"/>
        <remap from="labels/image_raw/compressed" to="$(arg prerecorded_topic)/compressed"/>
        <remap from="semantic/image_raw" to="$(arg semantic_topic)"/>
        <remap from="semantic_color/image_raw" to="$(arg semantic_color_topic)"/>

        <include file="$(find spark_master_launch)/launch/nodes/recolor_nodelet.launch">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="configuration_name" value="dcist"/>
            <arg name="node_name" value="recolor_nodelet"/>
            <arg name="required" value="true"/>
        </include>
    </group>

    <!-- depth rectifier -->
    <group if="$(arg launch_depth_rectifier_nodelet)">
        <remap from="~rgb/camera_info" to="$(arg robot_name)/forward/color/camera_info"/>
        <remap from="~depth/image_rect" to="$(arg robot_name)/forward/depth/image_rect_raw"/>
        <remap from="~depth/camera_info" to="$(arg robot_name)/forward/depth/camera_info"/>
        <include file="$(find spark_master_launch)/launch/nodes/depth_rectifier_nodelet.launch">
            <arg name="node_name" value="depth_rectifier"/>
            <arg name="required" value="true"/>
        </include>
    </group>

    <!-- dsg visualizer -->
    <group if="$(arg launch_visualizer)">
        <remap from="~dsg" to="hydra_ros_node/dsg"/>
        <remap from="~dsg_mesh_updates" to="hydra_ros_node/dsg_mesh"/>
        <include file="$(find spark_master_launch)/launch/nodes/hydra_streaming_visualizer.launch">
            <arg name="node_name" value="hydra_streaming_visualizer"/>
            <arg name="required" value="true"/>
            <arg name="configuration_name" value="dcist"/>
        </include>
    </group>

    <!-- start rviz normal group -->
    <group if="$(arg launch_rviz)">
        <include file="$(find spark_master_launch)/launch/nodes/rviz.launch" />
    </group>
    <!-- end rviz normal group -->

    <!-- Pose graph view -->
    <group if="$(arg launch_posegraph_view)">
        <include file="$(find pose_graph_tools)/launch/posegraph_view.launch"
                 if="$(arg start_pose_graph_viewer)">
            <arg name="frame_id"      value="$(arg odom_frame)" />
            <arg name="graph_topic"   value="pose_graph" />
            <arg name="ns"            value="hydra_ros_node/pgmo"/>
        </include>
    </group>

    <!-- Scene graph logger -->
    <group if="$(arg launch_scene_graph_logger)">
        <include file="$(find hydra_ros)/launch/utils/scene_graph_logger.launch">
            <arg name="output_path" value="$(arg dsg_path)"/>
        </include>
    </group>

</launch>
