<launch> 
    <arg name="robot_name" default="sparkal1"/>
    <include file="$(find spark_master_launch)/launch/dcist_master.launch" ns="$(arg robot_name)">
            <arg name="sim_time_required" value="false"/>

            <arg name="robot_name" value="sparkal1"/>
            <arg name="launch_hydra_ros" value="true"/>
            <arg name="launch_visualizer" value="true"/>
            <arg name="launch_forward_static_tf" value="true" />
            <arg name="launch_base_static_tf" value="true"/>
    </include>
</launch> 
